manifest {
    homePage = 'https://github.com/iarcbioinfo/PRSice-nf'
    description = 'compute PRS using PRSice'
    mainScript = 'compute_PRS.nf'
}
params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/PRSice-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/PRSice-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/PRSice-nf_trace.txt"
}

